body {
    background-color: brown;
    color:rgb(255, 237, 215)
}
p1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
i{
    font-size: larger;
}
h1{
    background-color:rgb(225, 180, 84) ;
}